__sapper__
.storybook
coverage
cypress
node_modules
src/node_modules

*.spec.js

src/sw.js

.eslintrc.js
webpack.config.js
babel.config.js
jest.axe.js
jest.config.js
postcss.config.js
svelte.config.js
test/setup.js
