{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "svelteSortOrder": "scripts-markup-styles",
  "printWidth": 120,
  "bracketSameLine": false
}
